/* .markdown h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.markdown h2 {
    font-size: 1.5em;
    font-family: "Noto Sans Japanese", sans-serif;
    font-weight: 600;
    color: #333;
    margin: 0.75em 0;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.dark .markdown h2 {
    color: #eee;
}

.markdown h3 {
    font-size: 1.17em;
    margin: 0.83em 0;
}

.markdown p {
    margin: 1em 0;
}

.markdown ul {
    list-style-type: disc;
    margin-left: 20px;
} */