---
import MainLayout from "../layouts/main.astro";
---

<MainLayout>
    <div class="flex flex-col gap-10 py-10 items-center">
        <h1
            class="flex text-9xl font-extrabold font-['Montserrat'] text-neutral-500 dark:text-neutral-400"
        >
            404
        </h1>
        <div class="text-xl font-bold text-neutral-500 dark:text-neutral-400">
            ページが見つかりませんでした
        </div>
        <a href="/">ホーム</a>
    </div>
</MainLayout>
