---
import { Icon } from "astro-icon/components";

interface Props {
    label?: string;
    icon?: string;
}

const { label, icon } = Astro.props;
---

<div class="flex items-center gap-2">
    <Icon
        name={icon}
        width={18}
        height={18}
        class="text-neutral-500 dark:text-neutral-400"
    />
    <p class="text-sm font-bold text-neutral-900 dark:text-neutral-100">
        {label}
    </p>
</div>
